---
layout: default
---

<section class="container contact">
    <div class="team">
        <a id="contact"></a>
        <h1>Contact</h1>

        <div class="row">
            <div class="column member">
                <img height="100" width="200" src="/2018/assets/lap_logo.svg" class="lap-img">
                <ul>
                    <li><h4>MTÜ Lapikud</h4></li>
                    <li><a href="mailto:lapikud@lapikud.ee">lapikud@lapikud.ee</a></li>
                    <li><a href="https://m.me/lapikud">Facebook Messenger</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% if site.data.team %}
    <div class="team">
        <a id="contact"></a>
        <h1>LAPhack Team</h1>
        <div class="row">
            {% for member in site.data.team %}
            <div class="column member">
                <a href="{{ "/assets/team/" | append: member.photo | append: "_large.jpg" | relative_url }}">
                <img height="150" width="150" src="{{ "/assets/team/" | append: member.photo | append: ".jpg" |
                relative_url }}" alt="{{ member.name }}" class="profile-img">
                </a>
                <ul>
                    <li><h4>{{ member.name }}</h4></li>
                    <li>{{ member.role }}</li>

                    {% if member.email %}
                        <li><a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
                    {% endif %}

                    {% if member.phone %}
                        <li><a href="tel:+372{{ member.phone | remove: " "}}">{{ member.phone }}</a></li>
                    {% endif %}

                    {% if member.messenger %}
                        <li><a href="https://m.me/{{ member.messenger }}">Messenger</a></li>
                    {% endif %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</section>
