<footer class="main-footer">
  <section class="container">
    <div class="row">
      <div class="column">
        <h3>About us</h3>
        <p>
          LAPhack is brought to you by awesome people at Software development club
          <a href="https://lapikud.ee">Lapikud</a>.
        </p>
      </div>
      <div class="column footer-nav">
        <h3>Navigation</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {% include main_nav.html %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column footer-copyright">
        <a href="https://lapikud.ee">&copy; 2019 Tarkvaraarenduse klubi</a>
      </div>
    </div>
  </section>
</footer>
