<footer class="main-footer">
  <section class="container">
    <div class="row">
      <div class="column">
        <h3>About us</h3>
        <p>
          LAPhack is brought to you by awesome people at TTÜ Software development club
          <a href="https://lapikud.ee">Lapikud</a>.
        </p>
      </div>
      <div class="column footer-nav">
        <h3>Navigation</h3>
        <ul>
          <li><a href="#">People</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#">Participants</a></li>
          <li><a href="/register" class="register-button">Register</a></li>
        </ul>
      </div>
      <div class="column footer-nav">
        <h3>Previous year</h3>
        <ul>
          <li><a href="/2016">LAPhackathon 2016</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column footer-copyright">
        <a href="https://lapikud.ee">&copy; 2017 MTÜ Lapikud</a>
      </div>
    </div>
  </section>
</footer>
