<footer class="main-footer">
  <section class="container">
    <div class="row">
      <div class="column">
        <h3>About us</h3>
        <p>
          LAPhack is brought to you by awesome people at TalTech Software development club
          <a href="https://lapikud.ee">Lapikud</a>.
        </p>
      </div>
      <div class="column footer-nav">
        <h3>Navigation</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {% include main_nav.html %}
        </ul>
      </div>
      <div class="column footer-nav">
        <h3>Previous years</h3>
        <ul>
          <li><a href="//arvhive.laphack.eu/">Archives</a></li>
          <li><a href="//2019.laphack.eu/">LAPhack 2019</a></li>
          <li><a href="//archive.laphack.eu/2018">LAPhack 2018</a></li>
          <li><a href="//archive.laphack.eu/2017">LAPhack 2017</a></li>
          <li><a href="//archive.laphack.eu/2016">LAPhackathon 2016</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column footer-copyright">
        <a href="https://lapikud.ee">&copy; 2019 TalTech Tarkvaraarenduse klubi</a>
      </div>
    </div>
  </section>
</footer>
