<!-- header.scss -->
<nav class=navigation>
<section class="container">
  <a href="/" {% if page.url == '/' %}style="display: none;"{% endif %}>
    <img class="logo" src="{{ "/assets/logo.svg " | relative_url }}">
    <img class="logo text" src="{{ "/assets/logo_text_full.svg " | relative_url }}">
  </a>
  <ul class=float-right>
    <li><a href="#">People</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="/2016">Previous year</a></li>
    <li><a href="/register" class="register">Register</a></li>
  </ul>
</section>
</nav>
