---
layout: default
---

<!-- home -->
<section class="container home">
<div class="logo_container">
    <img class="logo" src="{{ "/assets/logo.svg " | relative_url }}">
    <div>
    <img class="logo text" src="{{ "/assets/logo_text_full.svg " | relative_url }}">
    <h2><strong>6. - 8. October</strong> at <wbr><strong>Estonian IT College</strong></h2>
    </div>
</div>

    <h1 class="year-theme-text"><span>Theme for this year:</span> <wbr><strong>Education</strong></h1>

    <video width="100%" poster="{{ "/assets/promo.jpg " | relative_url }}" controls loop preload onclick="if(this.paused){this.play();}else{this.pause()}">
        <source src="{{ "/assets/promo.mp4 " | relative_url }}" type="video/mp4">
        <source src="{{ "/assets/promo.webm " | relative_url }}" type="video/webm">
    </video>

<!-- three icons -->
<div class="row row-center lg-icon-container">
    <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
        </svg>
        <div>
            <h3>Challenge yourself</h3>
            <p>Put your skills to the test for 48 hours</p>
        </div>
    </div>
    <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
        </svg>
        <div>
            <h3>Have fun</h3>
            <p>Meet new people and build something amazing together</p>
        </div>
    </div>
    <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
        </svg>
        <div>
            <h3>Shape your idea</h3>
            <p>Design something for everyone</p>
        </div>
    </div>
</div>

<!-- buttons -->
<div class="button-container">
    <a class="button button-outline" target="_blank" href="https://www.facebook.com/events/233558483800003">Facebook</a>
    <a class="button" href="/register">Register</a>
</div>

<div class="schedule">
    <a id="schedule"></a>
    <h1>Schedule</h1>
    <div class="row">
        <div class="column">
            <h2><time datetime="2017-10-06">6. October - Friday</time></h2>
            <dl>
                <dt>18:00-18:30</dt><dd>Registration</dd>
                <dt>18:30-18:45</dt><dd>LAPhack 2017 opening event</dd>
                <dt>18:45-19:15</dt><dd>Playfully from idea into a reality (instructor: <a href="/mentors#aive_uus">Aive Uus</a>)</dd>
                <dt>19:15-22:00</dt><dd>Idea pitching, team forming</dd>
                <dt>22:00-...</dt><dd>Teams start working on their ideas</dd>
            </dl>
        </div>
        <div class="column">
            <h2>7. October - Saturday</h2>
            <dl>
                <dt>9:00-10:00</dt><dd>Breakfast</dd>
                <dt>10:00-13:00</dt><dd>Teams work on their ideas. Quick, 15min, training sessions will take place on an ongoing basis during this time. *</dd>
                <dt>10:30-10:45</dt><dd>Design training (instructor: <a href="/mentors#laura_leon">Laura Leon</a>)</dd>
                <dt>11:00-19.00</dt><dd>Pitch training (whole day) (instructor: <a href="/mentors#timmu_tollimagi">Timmu Tollimägi</a>)</dd>
                <dt>11:30-11:45</dt><dd>Development training session 1 (instructor: <a href="/mentors#robert_kullamaa">Robert Kullamaa</a>)</dd>
                <dt>12:00-12:15</dt><dd>Marketing training session (instructors: <a href="/mentors#reimo_ann">Ann-Christiin Kerner and Reimo Ärm)</a></dd>

                <dt>13:00-14:00</dt><dd>Lunch</dd>
                <dt>14:00-19:00</dt><dd>Teams work on their ideas. Quick, 15min, training sessions will take place on an ongoing basis during this time. *</dd>
                <dt>14:00-14:15</dt><dd>Development training session 2 (instructor: <a href="/mentors#indrek_ots">Indrek Ots</a>)</dd>
                <dt>19:00-20:00</dt><dd>Supper</dd>
                <dt>20:00-…</dt><dd>Teams work on their ideas</dd>
            </dl>
            <p>
                * Quick sessions are mostly intended for respective roles in the team, others interested on the topic
                can join. Training sessions are carried out by mentors or by instructors.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h2><time datetime="2017-10-08">8. October - Sunday</time></h2>
            <dl>
                <dt>9:00-10:00</dt><dd>Breakfast</dd>
                <dt>10:00-13:00</dt><dd>Teams work on their ideas</dd>
                <dt>13:00-14:00</dt><dd>Lunch</dd>
                <dt>14:00-16:00</dt><dd>Main pitch rehearsal, final preparations for the final.</dd>
                <dt>17:00-...</dt><dd>Final pitching, end of the event summary, award ceremony.</dd>
            </dl>
        </div>
    </div>
</div>


{% if site.data.mentors %}
<div class="mentors">
    <h1><a href="/mentors">Mentors</a></h1>
    <p></p>

    <div class="row">
    {% for mentor in site.data.mentors %}
        <div class="column">
            <a href="{{ "/mentors#" | append: mentor.photo | relative_url }}">
                <img height="auto" width="600" src="{{ "/assets/mentors/" | append: mentor.photo | append: "_small.jpg" | relative_url }}" alt="{{ mentor.name }}" class="profile-img">
            </a>
            <a href="{{ "/mentors#" | append: mentor.photo | relative_url }}">
                <h4>{{ mentor.name }}</h4>
            </a>
        </div>
    {% endfor %}
    </div>

</div>
{% endif %}

<!-- sponsors -->
<div class="sponsors">
<h1>LAPhack sponsors</h1>
<div class="row">
    <div class="column">
        <img class="gold" src="{{ "/assets/sponsors/lhv.png" | relative_url }}" alt="LHV">
    </div>
    <div class="column">
        <img class="gold" src="{{ "/assets/sponsors/elisa.png" | relative_url }}" alt="Elisa">
    </div>
</div>

<div class="row">
    <div class="column">
        <img src="{{ "/assets/sponsors/ericsson.png" | relative_url }}" alt="Ericsson">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/playtech.jpg" | relative_url }}" alt="Playtec">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/cgi.png" | relative_url }}" alt="CGI">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/saku_latte.png" | relative_url }}" alt="Saku Lätte">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="{{ "/assets/sponsors/nortal.jpg" | relative_url }}" alt="Nortal">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/pooning.png" | relative_url }}" alt="Pööning">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/monster.png" | relative_url }}" alt="Monster">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/premia.png" | relative_url }}" alt="Premia">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="{{ "/assets/sponsors/veski_mati.jpg" | relative_url }}" alt="Veski Mati">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/concise_systems.jpg" | relative_url }}" alt="Concise Systems">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/sense.png" | relative_url }}" alt="Sense">
    </div>
    <div class="column">
        <img src="{{ "/assets/sponsors/it_akadeemia.jpg" | relative_url }}" alt="IT Akadeemia">
    </div>
</div>
<div class="row">
    <div class="column">
        <img src="{{ "/assets/sponsors/tehnopol.png" | relative_url }}" alt="Tehnopol">
    </div>
</div>

</div>

<div class="team">
    <a id="contact"></a>
    <h1>LAPhack Team</h1>
    <div class="row">
    {% for member in site.data.team %}
        <div class="column member">
            <a href="{{ "/assets/team/" | append: member.photo | append: "_large.jpg" | relative_url }}">
                <img height="150" width="150" src="{{ "/assets/team/" | append: member.photo | append: ".jpg" | relative_url }}" alt="{{ member.name }}" class="profile-img">
            </a>
            <ul>
                <li><h4>{{ member.name }}</h4></li>
                <li>{{ member.role }}</li>
                <li><a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
                <li><a href="tel:+372{{ member.phone | remove: " "}}">{{ member.phone }}</a></li>
                <li><a href="https://m.me/{{ member.messenger }}">Messenger</a></li>

            </ul>
        </div>
    {% endfor %}
    </div>

</div>

</section>
